@media screen and (max-width: 1200px) {
    *,html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .header .nav-bar {
        justify-content: space-evenly;
        position: fixed;
    }

    .nav-bar .logo-box .logo-name {
        display: none;
    }

    .header .hero {
        clip-path: none;
        margin: 0;
    }

    .hero .title p {
        font-size: 2.5rem;
        padding: 0 5rem;
    }

    .about .about-text {
        padding: 1rem;
    }

    .about .about-video {
        width: 40rem;
        height: 20rem;
    }

    .features .feature-cards {
        flex-wrap: wrap;
    }

    .feature-cards .card-box {
        margin: 1.5rem 1rem;
    }

    .pricing .pricing-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricing-cards .card-box {
        margin: 1rem;
        max-width: 17rem;
    }

    .footer {
        clip-path: none;
        padding: 0;
    }

    .footer .footer-company {
        flex-wrap: wrap;
    }

    .footer-company .company-box {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .header .nav-bar {
        padding: 0.5rem;
        font-size: 6px;
    }

    .about .about-video {
       width: 30rem;
    }

    .feature-cards .card-box {
        margin: 1rem;
        max-width: 22rem;
    }

    .feature-cards .card-box ion-icon {
        font-size: 5rem;
    }

    .footer-company .company-box {
        margin: 0;
    }
}